body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff
}
h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility
}
h1 {
    font-size: 2.5em
}
p {
    margin: 0 0 10px
}
.navbar-icon {
    height: 32px;
}